#fwin_pop /* 每日答题 */,
.wp.a_h img, /* home - Top post image */
.wp.a_t, /* home - official ads under nav */
.mn > .fl.bm:first-child > .bm.bmw.flg.cl:first-child, /* 小喇叭 */
.a_pb, /* ads under posts*/
.viewthread_nge /* posts suggestion */,
#threadtrack,
.a_fr.a_cb /* right side floating ad */,
.ad,
.aa0vw1bw3o9, /* page bottom  */
.enhanced_header .header_banners ~ *,
.header_banner img,
.enhanced_header br,
#toptb,
.enhanced_header_fixed,
body > div.fc-ab-root,
body > div:last-child /* no adblocker notification */ {
  display: none !important;
}

body {
  overflow: auto !important;
}

.enhanced_header_carousel {
  height: unset !important;
  width: unset !important;
  margin: unset !important;
}

.enhanced_header {
  height: unset !important;
  margin: 0 !important;
  padding: 1em;
  width: unset !important;
  display: block !important;
}

.header_banners {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 8px;
}

.header_banner {
  display: block !important;
}

.header_banner span {
  font-weight: 400;
  font-size: .8em;
}